body{
    display: flex;
    flex-direction: column;
}

.grid-container{
    height: 480px;
    width: 480px;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    /*justify-content: space-between;
    align-content: space-between;*/
}

.grid-container > div {
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    border: 2px solid magenta;
}