body{
    display: flex;
    flex-direction: column;
}

.grid-density{
    align-self: center;
    box-sizing: border-box;
    font-size: 30px;
    width: 300px;
    margin: 30px;
    padding: 14px;
    background-color: rgb(250,250,250);
    border-radius: 12px;
}

.grid-container{
    height: 480px;
    width: 480px;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    /*justify-content: space-between;
    align-content: space-between;*/
}

.grid-container > div {
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    border: 2px solid magenta;
}

.grid-container > div:hover{
    background-color: rgb(100,100,100);
}